
div.addon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


div.addon-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  text-align: left;
}





.addon-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}


#numSeats {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}